* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background-size: cover;
   background-attachment: fixed;
   overflow-x: hidden;
}



.header {
    width: 100%;
    height: 13%;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    transition: all 1s ease;
    transform: translateY(-20%);
    box-sizing: border-box;
    border-bottom: 2px solid rgb(14, 13, 13);
    
    
}

.nav {
    width: 59%;
    display: flex;
    flex-direction: row;
    justify-content: right;
 
}

.titulo{
    padding: 5vh 0vw;
    font-size: 27px;
}


.nav ul {
    width: 62%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #000000;
}

.nav ul li {
    font-size: 14px;
}


.nav ul img{
    width: 20px;
    height: auto;
    margin-left: -5%;
}

.nav ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.nav a:hover {
    transition: 0.5s;
    opacity: 0.7;
    font-size: 22px;
}



.entrar{
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: right;
  
}

.entrar ul{
    display: flex;
    width: 52%;
    height: 15vh;   
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}


.entrar ul li{
    display: flex;
    font-size: 14px;
    
}

.entrar li img{
    width: 1vw;
   
}

.cadastro{
    border: 2px solid #000000;
    color: white;
    background-color: #000000;
    padding: 9px;
    margin: 10px;
    border-radius: 21px 24px 27px;
}

@media only screen and (max-width: 768px){
.nav {
    width: 44%;
  
}

.nav ul{
    width: 88%;
    height: 18vh;
}

.header{
    padding: 3px 20px
}
.nav ul li {
    font-size: 8px;
}

.nav ul img{
    width: 13px;
    height: auto;
    margin-left: -2%;
}

.entrar li img {
    width: 21px;
}

.entrar ul{
    width: 74%;
    height: 17vh;
}

.entrar ul li {
    display: flex;
    font-size: 11px;
}


.cadastro {
    padding: 6px;
    border: 1px solid #000000;
    
}

.titulo {
    padding: 6vh 0vw;
}
};
    

.box-big {
    display: flex;
    justify-content: center;
}

.imagem-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 113vh; /* Ou ajuste conforme necessário */
}

.fundo{
    width: 89%;
    
}

.imagem-principal .fundo img {
    width: 98%;
    border: 5px solid black;
    border-radius: 64px;
}

.overlay {
    position: absolute; 
    top: 50%; 
    left: 24%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    color: white;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 15px;
}

.overlay p {
    margin: 0 0 10px 0; /* Margem abaixo do texto */
    font-size: 24px;
}

.overlay button {
    padding: 10px 20px;
    border: 1px solid;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.overlay button:hover {
    background-color: #444;
}

.imagem-policia {
    position: absolute; 
    top: 66%; 
    left: 66%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    padding: 20px;
    border-radius: 15px;
}

.imagem-policia img{
    height: 516px;
}


.realizacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 78px; 
}

.realizacao .crime{
    border: 1px solid #000;
    height: 100px;

}

.realizacao .praticidade{
    border: 1px solid #000;
}

.realizacao .otimizacao{
    border: 1px solid #000;
}