* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   flex-direction: row;
}

.menu-lateral {
    width: 20%;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

.logo img {
    height: 100%;
}

.menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 25%;
}

.outros {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    height: 25%;
}
